manifest:
    remotes:
        - name: zmkfirmware
          url-base: https://github.com/zmkfirmware
        - name: urob
          url-base: https://github.com/urob
        - name: mctechnology17
          url-base: https://github.com/mctechnology17
        - name: M165437
          url-base: https://github.com/M165437
    projects:
        - name: zmk
          remote: zmkfirmware
          revision: v0.3.0
          import: app/west.yml
        - name: zmk-nice-oled
          remote: mctechnology17
          revision: main
        - name: zmk-helpers
          remote: urob
          revision: main
        - name: nice-view-gem
          remote: M165437
          revision: main
    self:
        path: config
